body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: url('https://source.unsplash.com/green-trees-on-mountain-under-cloudy-sky-during-daytime-kcvlb727mn8') center/cover no-repeat;
}

.container {
    width: 80%;
 
}

.card {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the alpha value to control transparency */
    border: none;
}
